@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body{
    font-family: 'Montserrat';
    margin: 0;
    color: #333;
}

.container{
    max-width: 1300px;
	min-width: 320px;
	padding:0 20px;
	margin: 0 auto;
	display: flex;
    
}

.color-text{
    color: #397340;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
}

.active{
    color: #888;
}

.title{
    text-align: center;
    margin-top: 70px;
 }

 .autorization{
    background-image: url("../public/imgs/bg.png");
 }

 ::-webkit-scrollbar-thumb {
    background: #397340;
  }